.aboutWrapper {
   @apply w-[604px] flex justify-center flex-col;
}

.dark .a {
   color: #ff63c3;
}

.a:hover {
   border-bottom: 2px solid #3d7aed;
}

.hello {
   @apply py-3 px-10 inline-block text-center rounded-xl  mb-8;
   background-color: #ffffff5c;
}

.introduction {
   @apply flex flex-row-reverse justify-between max-md:flex-col-reverse max-md:justify-center;
}

.infoContainer {
   @apply w-8/12  flex flex-col justify-start max-md:text-center max-md:justify-center max-md:flex max-md:mx-auto max-md:flex-col;
}
.infoName {
   @apply text-4xl tracking-wider font-extrabold;
}

.infoP {
   @apply py-1;
}

.imgContainer {
   @apply flex justify-end max-md:justify-center max-md:mx-auto;
}

.img {
   @apply mr-auto rounded-full border-2 border-[#ffffffbe] w-24 max-md:my-2;
}

.workWrapper {
   @apply my-1;
}

.pBreaks {
   @apply px-2;
}

.bio {
   @apply flex flex-row gap-4;
}

.date {
   @apply font-semibold;
}

.social {
   @apply flex  flex-row items-center gap-2 py-2 px-3 rounded-lg;
   color: #2c7a7b;
}

.socialContainer {
   list-style-type: disc;
}

.social:hover {
   background-color: #e6fffa;
}

.socialIcon {
   @apply font-semibold;
}

.socialUserName {
   @apply font-semibold;
}

.projects {
   @apply gap-16 flex flex-col;
}

.photoContainer {
   @apply flex my-5  w-full justify-center gap-6;
}
.projectImageContainer {
   @apply flex flex-col;
}

.projectImage {
   @apply rounded-2xl pb-2;
}

.projectP {
   @apply text-center text-slate-700 uppercase;
}
.projectP2 {
   @apply text-center text-slate-700 text-sm;
}

.mailContainer {
   @apply flex justify-center;
}

.mailButton {
   @apply mt-4 flex justify-center gap-2 items-center text-white py-2 px-4 rounded-md;
   background-color: #319795;
}

.mailButton:hover {
   background-color: #247c7a;
}

.buttonLink {
   @apply inline-block;
}
