@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.1s;
}

body {
   min-height: 100vh;
   color: rgb(30 41 59);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: #f1e7db;
}

html {
   scroll-behavior: smooth;
   scroll-snap-stop: 4rem;
   font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6  {
   font-family: 'M PLUS Rounded 1c', sans-serif;
}

h3 {
   font-size: 20px;
   margin-top: 12px;
   margin-bottom: 16px;
   font-weight: 500;
   display: inline-block;
   border-bottom: 4px solid black;
}

.dark h3 {
   color: #df80bb;
   border-bottom: 4px solid #df80bb;
}

.dark h2 {
   color: #c0f6eb;
}

a {
   color: #3d7aed;
}

.section {
   display: flex;
   justify-content: center;
}

.container {
   position: relative;
   width: 768px;
   margin: auto;
   padding: 0 1rem;
}

@media screen and (max-width: 768px) {
   .container {
      width: 100%;
   }
}

.dark table {
   background-color: #c0f6eb;
   box-shadow: 2px 3px 4px 5px rgba(186, 183, 183, 0.7);
}

.dark thead {
   border-bottom: 2px solid black;
}

.dark li {
   color: #c0f6eb;
}

.dark li:hover {
   background-color: #2c7a7b;
}

.dark p {
   color: #ffffffeb;
}

.dark .pink {
   color: #ff63c3;
   border-bottom: 2px solid #ff63c3;
}

.dark span {
   color: #ffffffeb;
}

.dark button:hover {
   background-color: initial;
}

li {
   list-style-type: decimal;
}
