@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.1s;
}

body {
   min-height: 100vh;
   color: rgb(30 41 59);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: #f1e7db;
}

html {
   scroll-behavior: smooth;
   scroll-snap-stop: 4rem;
   font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6  {
   font-family: 'M PLUS Rounded 1c', sans-serif;
}

a {
   color: #3d7aed;
}

.main-section {
   position: relative;
   padding-top: 4rem;
}
.section {
   padding: 2.5rem 0;
}

.container {
   position: relative;
   width: 768px;
   margin: auto;
   padding: 0 1rem;
}

@media screen and (max-width: 768px) {
   .container {
      width: 100%;
   }
}
