.headerContainer {
   @apply w-full h-14 fixed z-10  backdrop-blur-xl flex items-center dark:bg-slate-800 shadow-sm;
   background-color: #ffffff40;
}

.wrapper {
   @apply flex justify-between;
}

.leftSide {
   @apply flex gap-4 items-center justify-center;
}

.logo {
   @apply gap-1 text-[20px] flex items-center font-medium text-current mr-3;
}

.logoIcon {
   transition: transform 0.3s ease-in-out;
}

.logo:hover .logoIcon {
   transform: rotate(180deg) scale(1.5);
   color: cornflowerblue;
}

.list {
   @apply flex gap-1 max-md:hidden font-light;
}

.listLink {
   @apply p-2 text-current;
}

.listItems {
   @apply border-black border-b-2 border-opacity-0;
}

.listLink:hover .listItems {
   @apply border-b-2 border-opacity-100;
}

.rightSide {
   @apply flex items-center relative gap-1;
}

.nightIcon {
   @apply p-3 rounded-md text-white cursor-pointer transform transition-transform duration-300 ease-out;
   background-color: #805ad5;
}

.nightIcon:hover {
   background-color: #6e3bdb;
}

.dayIcon {
   @apply p-3  rounded-md  text-current cursor-pointer transform transition-transform duration-300 ease-out;
   background-color: #fbd38d;
   -webkit-text-stroke: 2px white;
}

.dayIcon:hover {
   background-color: #f7c46b;
}

.nightMode:active .nightIcon {
   transform: translate(0, 100%);
}

.nightMode:active .dayIcon {
   transform: translate(0, 100%);
}

.dayIcon:active .dayIcon {
   transform: translate(0, 100%);
}

.dayIcon:active .nightIcon {
   transform: translate(0, 100%);
}

.menuIcon {
   @apply bg-opacity-50 border-2 p-3 rounded-md text-lg cursor-pointer md:hidden  hover:bg-slate-300;
}

.menuItems {
   @apply absolute top-full -left-[8.6rem] py-1 mt-4 bg-white border border-gray-300 rounded shadow;
}

.menuItem {
   @apply text-current block hover:bg-slate-200 w-56 px-4 py-2; /* Varsayılan genişlik ve diğer stiller */
}

.menuItem:hover .menuItemText {
   border-bottom: 2px solid black;
}

.menuItemText {
   @apply inline-block border-b-2  border-black  border-opacity-0;
}
