.resumeSection {
   @apply w-[604px] flex justify-center flex-col;
}

.sectionTitle {
   @apply font-bold text-3xl my-6;
}

.skillContainer {
   @apply flex flex-grow gap-4;
}

.year {
   @apply font-semibold;
}

.certificateList {
   @apply flex flex-col list-decimal;
}

.listContainer {
   @apply text-current w-full;
}

.certificateListItem {
   @apply py-3 pl-1 pr-4   font-semibold rounded-lg;
   color: #2c7a7b;
}

.dark .certificateListItem {
   @apply p-2;
   color: #e6fffa;
}

.certificateListItem:hover {
   background-color: #e6fffa;
}

.tableContainer {
   @apply w-full flex rounded-xl;
}

.table {
   @apply text-left overflow-x-auto text-gray-500 dark:text-gray-100 rounded-xl;
   background-color: #ffffff40;
   box-shadow: 2px 3px 4px 5px rgba(12, 12, 12, 0.08);
}

.tHead {
   @apply text-gray-700 uppercase dark:bg-gray-100 dark:text-gray-100;
}

.th {
   @apply px-4 py-4;
}

.tableBody {
   @apply border-b dark:bg-gray-100 dark:border-gray-700;
}

.td {
   @apply px-4 py-4;
}

.whyList {
   @apply list-decimal;
}

.whyItem {
   @apply p-2 rounded-l;
   color: #2c7a7b;
}

.whyItem:hover {
   background-color: #e6fffa;
}

.whyP {
   @apply border-b-2 my-2 inline-block border-opacity-0 transition-all duration-200;
}

.whyP:hover {
   @apply border-current border-opacity-100;
}

.certificateWrapperP {
   @apply italic text-sm p-2;
}
